body {
  margin: 0;
  /*background-color: rgba(42, 40, 40, 1);*/
}

* {
  box-sizing: border-box;
}

/* Navbar */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navbar_options {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

.form {
  position: relative;
}

.form-input {
  height: 30px;
  text-indent: 33px;
  border-radius: 10px;
  margin-left: 15%;
  background-color: rgba(255, 255, 255, 0.5);
}

.form .fa-search {
  position: absolute;
  justify-content: center;
  align-items: center;
  right: 150px;
  padding: 5px;
}

.btn-sign-up {
  background-color: #cc5643;
}

/* Carousel Section*/
.hero {
  height: 100vh;
}

.hero-carousel-item-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero-carousel-item-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100vh;
  padding-bottom: 120px;
  color: #ffffff;
  /* margin-left: -15%;
  margin-right: 15%;*/
}

.movie-info {
  padding: 32px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  max-width: 600px;
}

.movie-info__description {
  font-family: "Times New Roman", Times, serif;
  margin-top: 2%;
  max-width: 500px;
}

.movie-info__information {
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
  font-weight: bold;
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.movie-info__button {
  margin-top: 48px;
}
.movie-info__button a:hover {
  transform: scale(1.1);
  transition: 1s;
}
.movie-info__button a {
  border-radius: 25px;
  width: 150px;
  margin-right: 15px;
}

.movie-info__iframe-container {
  position: absolute;
  right: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 5%;
}

.movie-info__trailerIframe {
  width: 660px;
  height: 415px;
}

.movie-info__close-button {
  position: absolute;
  border: 1px solid;
  top: -5.5%;
  right: -2.5%;
  margin-top: 5px;
  color: #fff;
  display: none;
}

/* List Movies and Series*/
#hero-list {
  background-color: rgba(42, 40, 40, 0.9);
  height: 100vh;
}

.hero-list__items {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.hero-list__movie {
  position: relative;
}
.hero-list__img {
  margin-top: 30px;
  width: 120px;
  height: 165px;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(37, 36, 36, 0.5);
  transition: filter 0.5s;
}
.hero-list__movie-title {
  width: 120px;
  overflow: hidden;
  white-space: nowrap;
}
.watch-button {
  display: none;
  background-color: #ef5252;
  border-radius: 30px;
  color: #000;
  padding: 2px 4px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 5%;
}

.hero-list__movie:hover .hero-list__img {
  filter: blur(5px);
}

.hero-list__movie:hover .watch-button {
  display: block;
}

.hero-list__information {
  display: flex;
  justify-content: space-between;
  font-family: "Times New Roman", Times, serif;
  width: 130px;
}

.list-row {
  margin-top: 30px;
  width: 95%;
}

.list-col {
  margin-left: 5px;
}

/*Features*/
#hero-features {
  background-color: rgba(42, 40, 40, 1);
}

.hero-features__list {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.hero-features__img-left,
.hero-features__img-right {
  width: 500px;
  height: auto;
  margin-left: 0;
}

.hero-features__img-right {
  margin-left: 105px;
}
.hero-features-row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 100%;
}

.hero-features-col {
  margin: 0 20px;
}

.hero-features-col > h2 {
  margin-top: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  font-weight: bold;
  text-align: justify;
}

.hero-features-col > p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-top: 10%;
  text-align: justify;
}

/* Footer */
footer {
  width: 100%;
  height: 100%;
  background-color: rgba(42, 40, 40, 0.9);
  color: #fff;
  padding: 30px;
}

footer > p {
  color: #ffffff;
  margin: 0;
  font-size: 14px;
}

.footer-social-icons a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

/* Media Queries */

@media (min-width: 1920px) {
  .hero-carousel-item-content {
    margin-left: -20%;
  }
}
@media (max-width: 1440px) {
  .hero-carousel-item-content {
    margin-left: 0;
  }
}

@media (max-width: 1200px) {
  .movie-info__iframe-container {
    right: 2%;
  }
  .movie-info__trailerIframe {
    width: 500px;
    height: 315px;
  }
}

@media (max-width: 992px) {
  .form-input {
    width: 150px;
  }

  .form .fa-search {
    right: 100px;
  }

  .movie-info__iframe-container {
    right: 2%;
    padding-bottom: 35px;
  }

  .hero-carousel-item-content {
    max-width: 425px;
  }

  .movie-info__description {
    font-size: 13px;
  }

  .movie-info__information {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .sidebar {
    background-color: #161615;
    display: flex;
    flex-direction: column;
  }

  .form {
    order: 1;
  }

  .navbar_options {
    order: 2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .form-input {
    margin-left: 5%;
    width: 200px;
  }

  .fa-search {
    left: 5%;
  }

  .movie-info__trailerIframe {
    margin-right: 25%;
  }
  .movie-info__close-button {
    margin-right: 25%;
  }
}

@media (max-width: 426px) {
  .movie-info__iframe-container {
    right: -24%;
  }

  .movie-info__trailerIframe {
    width: 420px;
    height: 250px;
  }
}
