input.form-search {
  background-color: transparent;
  border-radius: 100px;
  color: #ffffff;
  margin-left: 60px;
}

.btn-sign-up {
  background-color: #cc5643;
}

#carouselExampleIndicators {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
}

.hero-carousel-item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.hero-carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

.hero-carousel-item-content {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  padding: 16px;
  color: #ffffff;
  max-width: 700px;
  margin-top: 100px;
  transform: translateX(-15%);
}

.hero-carousel-item-content h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}

.description {
  font-family: "Times New Roman", Times, serif;
  margin-top: 2%;
  max-width: 500px;
}

.information {
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
  font-weight: bold;
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imdb-icon {
  font-size: 25px;
}

.button-carousel {
  padding: 50px;
  margin-top: 500px;
  transform: translateX(-150%);
}

.button-carousel a:hover {
  transform: scale(1.1);
  transition: 1s;
}
.button-carousel a {
  border-radius: 25px;
  width: 150px;
  margin-right: 15px;
}

.iframe-container {
  position: absolute;
  transform: translateX(+100%);
  width: 660px; /* Defina a largura desejada */
  height: 415px; /* Defina a altura desejada */
}

#trailerIframe {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
}
.close-button {
  position: absolute;
  border: 1px solid;
  top: -5.5%;
  right: -2.5%;
  margin-top: 5px;
  color: #fff;
  display: none;
}

@media (max-width: 1440px) {
  .hero-carousel-item-content {
    transform: translateX(-5%);
  }
  .button-carousel {
    transform: translateX(-140%);
  }
}

@media (max-width: 1200px) {
  input.search-bar {
    position: absolute;
    top: 25%;
    margin-left: 0;
    left: 50%;
    width: 100px;
    transform: translateX(+170%);
    font-size: 15px;
  }

  .nav-link {
    font-size: 15px;
  }

  .hero-carousel-item-content {
    transform: translateX(-5%);
  }

  .button-carousel {
    transform: translateX(-134%);
    display: inline-flex;
  }
}

@media (max-width: 992px) {
  .sidebar {
    background-color: #161615;
  }

  input.search-bar {
    position: absolute;
    top: 25%;
    margin-left: 0;
    left: 50%;
    transform: translateX(+160%);
  }

  .carousel-indicators {
    display: block;
    text-align: center;
  }

  .hero-carousel-item-content {
    transform: translateX(0);
  }
  .button-carousel {
    transform: translateX(-128%);
  }
}

@media (max-width: 768px) {
  input.search-bar {
    transform: translateX(-55%);
  }

  .hero-carousel-item-content {
    max-width: 500px;
    transform: translateX(-2%);
  }

  .description {
    width: 450px;
  }
  .information {
    font-size: medium;
  }
  .button-carousel {
    transform: translateX(-125%);
  }
}

@media (max-width: 426px) {
  input.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero-carousel-item-content {
    max-width: 400px;
    transform: translateX(-2%);
  }
  .hero-carousel-item-content h2 {
    font-size: 24px;
  }

  .description {
    font-size: 12px;
    width: 330px;
  }

  .information {
    font-size: 12px;
  }

  .button-carousel {
    transform: translateX(-97%);
  }
}
